#logo {
    width: 7.8125em;
    padding: 0.3125em;

    img {
        width: 100%;
        transition: all 0.3s ease;
    }

    img:hover {
        transform: scale(1.05);
    }
}

#navDesktop {
    height: 7.8125em;

    ul {
        margin: 0;
    }
}

#tituloSitio {
    position: absolute;
    left: 4em;
    margin: 0;
    font-family: 'Roboto Condensed', serif !important;
    font-weight: bold;
    font-size: 2.25em;
}

.menu{
    background-color: $colorPrincipal1;
    width: 100%;
    height: 7.8125em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul {
    list-style: none;

    li {
        font-size: 1.5em;
        display: inline-block;
        padding: 1em;

        a {
            text-decoration: none;
            color: $colorNegro;
            transition: all 0.3s ease;
        }

        a:hover {
            font-size: 1.05em;
            color: $colorVerdeSecundario;
        }
    }
}

#navMobile {
    display: none;
    right: 0.5em;
}

@media (max-width: 1440px) {
    #logo {
        width: 5.859375em;
        padding: 0.234375em;

        img {
            width: 5.859375em;
            image-rendering: optimizeQuality;
        }
    }

    .menu{
        width: 100%;
        height: 5.859375em;
    }
    
    ul{
        li {
            font-size: 1.2em;
            padding: 0.75em;
        }
    } 
    
    #tituloSitio {
        font-size: 1.75em;
    }

}

@media (max-width: 1366px) {
    #logo {
        width: 5.6em;
        padding: 0.2223em;

        img {
            width: 5.6em;
        }
    }
    
    .menu{
        width: 100%;
        height: 5.65em;
    }
    
    ul {
        li {
            font-size: 1.1em;
            padding: 0.711em;
        }
    }
    
    #tituloSitio {
        font-size: 1.7em;
    }
}

@media (max-width: 720px) {
    .menu {
        height: 6em;
    }
    
    #tituloSitio {
        left: 4em;
        font-size: 2em;
    }

    #logo {
        width: 6em;
        padding: 0.2223em;

        img {
            width: 6em;
        }
    }

    #navDesktop{
        display: none !important;
    }

    #navMobile {
        display: block;
        z-index: 1;
        padding-right: 1em;

        .offcanvas {
            nav {
                ul {
                    li {
                        a {
                            font-size: 1.25em;
                        }
                    }
                }
            }
        }
    }
    
    .offcanvas-menu {
        background-color: $colorPrincipal1 !important;
    }
    
    h5 {
        font-size: 2.25em;
    }


    ul {
        li {
            display: block !important;
            padding: 1.5em;
            a {
                font-size: 1.5em;
            }
        }
    }

    #hamburgerIcon {
        width: 2em;
    }

}

@media (max-width: 375px) {
    #navMobile {
        padding-right: 0.5em;

        button {
            padding: 0.1em 0.5em;
        }

        .offcanvas {
            h5 {
                font-size: 1.3em;
            }

            width: 50%;
        }
    }

    ul {
        padding: 0;
        li {
            padding: 0.6em 0;
            a {
                font-size: 0.9em !important;
            }
        }
    }

    .menu {
        height: 3.125em;
    }

    #tituloSitio {
        font-size: 1.15em;
        left: 3.5em;
    }

    #hamburgerIcon{
        width: 1em;
    }

    .dropdown-menu {
        li {
            font-size: 0.75em;
        }
    }

    #logo {
        width: 3.125em;
        padding: 0.2223em;

        img {
            width: 3.125em;
        }
    }

}

@media (max-width: 320px) {
    #navMobile {
        padding-right: 0.4em;

        button {
            padding: 0.1em 0.4em;
        }

        .offcanvas {
            h5 {
                font-size: 1.2em;
            }

            width: 50%;
        }
    }

    ul {
        padding: 0;
        li {
            padding: 0.4em 0;
            a {
                font-size: 0.75em !important;
            }
        }
    }

    .menu {
        height: 2.7em;
    }

    #tituloSitio {
        font-size: 1em;
        left: 3.5em;
    }

    #hamburgerIcon{
        width: 0.9em;
    }

    .dropdown-menu {
        li {
            font-size: 0.75em;
        }
    }

    #logo {
        width: 2.7em;
        padding: 0.2em;

        img {
            width: 2.7em;
        }
    }
}