$colorBlanco: #fff;
$colorNegro: #000;
$colorNegroOpaco: rgba(0,0,0,0.3);
$colorPrincipal1: #E6EED5;
$colorPrincipal2: #d5efc1;
$colorPrincipal3: rgba(155, 189, 129, 0.6);
$colorPrincipalOpaco: rgba(230,238,213, 0.75);
$colorVerdeSecundario: darkgreen;
$colorBotones: rgb(193, 255, 143);
$colorBotonesOscuro: rgb(142, 214, 83);
$colorBotonesOpaco: rgba(193, 255, 143, 0.76);
$colorNumeroOpaco: rgba(198,238,186, 0.75);
$colorPrincipal2Opaco: rgba(213, 239, 193, 0.8);
$containerPrincipal: (
    ancho: 100%,
    disposicion: flex,
    justificado: flex-start,
    alineado: center,
    texto: center
)