.barraProductos {
    display: block;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 12em;

    p {
        padding: 0.5em;
        animation: aparicion 2.5s;
    }

    form {
        width: 15em;
        justify-self: center;
        margin: 0 auto;
        animation: aparicion 2.5s;
    }

    input {
        border: 0.1em solid $colorNegro;
        border-radius: 0.5em;
        padding: 0.3em;
        margin: 1em 0;
    }
}


.tituloProductos {
    height: 5em;
    padding-top: 1em;

    h2 {
        font-size: 2.5em;
        animation: aparicion 1s;
    }
}


.productos {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    .tarjetaProductos {
        transition: all 0.3s ease;
        animation: aparicion 3s;
    }

    .tarjetaProductos:hover {
        box-shadow: 0 0.1rem 0.4rem $colorNegroOpaco;
        cursor: pointer;
    }
}

.tarjetaProductos {
    height: 35em;
    width: 20em;
    text-align: center;
    margin: 1em;
    padding: 1em;

    img {
        width: 17.5em;
    }

    p {
        padding: 0.2em;
    }

    input {
        text-decoration: none;
        border: 0.1em solid $colorNegro;
        border-radius: 0.5em;
        padding: 0.5em;
        font-size: 1em;
        background-color: $colorBotonesOpaco;
    }
}

.precioProductos {
    padding-top: 0.75em;
    font-size: 1.5em;
}



@media (max-width: 1440px) {
    .barraProductos {
        height: 10em;

        p {
            padding: 0.415em;
        }

        input {
            border-radius: 0.415em;
            font-size: 0.9em;
        }
    }
    
    .tituloProductos {
        height: 4.15em;
        padding-top: 0.83em;

        h2 {
            font-size: 2.08em;
        }
    }
    
    .productos {
        width: 80%;
        padding: 3em 0;
    }
    
    .tarjetaProductos {
        height: 26em;
        width: 15em;
        text-align: center;
        margin: 1.5em 0;

        img {
            width: 13.125em;
        }

        p {
            padding: 0.166em;
            font-size: 0.75em;
        }

        input {
            padding: 0.416em;
            font-size: 0.75em;
        }
    }
    
    .precioProductos {
        padding-top: 0.625em;
        font-size: 1.125em;
    }
}

@media (max-width: 1366px) {
    .barraProductos {
        height: 8.57em;

        p {
            padding: 0.357em;
            font-size: 0.71em;
        }

        input {
            padding: 0.2em;
            font-size: 0.71em;
        }
    }
    
    .productos {
        width: 80%;
        padding: 3em 0;
    }
    
    .tituloProductos {
        height: 3.57em;
        padding-top: 0.71em;
        h2 {
            font-size: 1.78em;
        }
    }
    
    .tarjetaProductos {
        height: 25em;
        width: 14.25em;
        margin: 2em 0;

        img {
            width: 13.125em;
        }

        p {
            padding: 0.14em;
        }

        input {
            padding: 0.357em;
            font-size: 0.71em;
        }
    }
    
    .precioProductos {
        padding-top: 0.53em;
        font-size: 1.07em;
    }
}

@media (max-width: 720px) {
    .barraProductos {
        height: 14.2em;

        p {
            padding: 0.575em;
            font-size: 1em;
        }

        input {
            padding: 0.3em;
            font-size: 1em;
            width: 15em;
            margin: 1em 0;
        }

        button {
            padding: 0.75em;
            font-size: 1em;
        }
    }
    
    .tituloProductos {
        height: 5.9em;
        padding-top: 1em;

        h2 {
            font-size: 2.5em;
            padding-top: 0.5em;
        }
    }

    .tarjetaProductos {
        height: 42em;
        width: 25em;
        margin-bottom: 1.5em;

        img {
            width: 22.5em;
        }

        p {
            padding: 0.25em;
            font-size: 1.25em;
        }

        input {
            padding: 0.5em;
            font-size: 1.2em;
        }
    }
    
    .precioProductos {
        padding-top: 0.5em;
        font-size: 1.75em;
    }
    
}

@media (max-width: 375px) {
    .barraProductos {
        height: 7.395em;
        padding-bottom: 0.75em;

        p {
            padding: 0.3em;
            font-size: 0.75em;
        }

        input {
            padding: 0.3em;
            font-size: 0.65em;
            width: 12em;
            margin: 0 auto;
        }

        button {
            padding: 0.5em;
            font-size: 0.65em;
        }
    }
    
    .tituloProductos {
        height: 3.07em;
        padding-top: 0.52em;

        h2 {
            font-size: 1.3em;
            padding-top: 0.26em;
        }
    }
    
    
    .tarjetaProductos {
        height: 25em;
        width: 13em;
        margin: 1em 0;

        img {
            width: 11.5em;
        }

        p {
            padding: 0.2em;
            font-size: 0.85em;
        }

        input {
            padding: 0.4em;
            font-size: 0.85em;
        }
    }
    
    .precioProductos {
        padding-top: 0.5em;
        font-size: 1.3em;
    }
    
}

@media (max-width: 320px) {
    .barraProductos {
        height: 7em;
        padding-bottom: 1em;

        p {
            padding: 0.2em;
            font-size: 0.7em;
        }

        input {
            padding: 0.3em;
            font-size: 0.6em;
            width: 10em;
            margin: 0 auto;
        }

        button {
            padding: 0.5em;
            font-size: 0.6em;
        }
    }
    
    .tituloProductos {
        height: 2.75em;
        padding-top: 0.4em;

        h2 {
            font-size: 1.15em;
            padding-top: 0.2em;
        }
    }
    
    .tarjetaProductos {
        height: 22em;
        width: 11em;
        margin: 1em 0;

        img {
            width: 10em;
        }

        p {
            padding: 0.2em;
            font-size: 0.7em;
        }

        input {
            padding: 0.3em;
            font-size: 0.7em;
        }
    }
    
    .precioProductos {
        padding-top: 0.5em;
        font-size: 1.2em;
    }
    
}